
  
  .login-form2 {
    display: flex;
    flex-direction: column;
   border: 1px solid rgb(149, 148, 148);
   width: 350px;
   height: 500px;
   margin: auto;
   border-radius: 15px;
   transition: 0.7s;
   animation: annimform 0.7s ease-out;
   



   
  }
  .login-form2 p {
    text-align: center;
   margin-bottom: 3rem;
   margin-top: 1rem;
   
  }
  
  .heading2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 5px;
  }
  

  
  .input-group2 {
    margin-bottom: 20px;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
  }
  
  .input-group2 input {
    background: none;
    border: 1px solid #353535;
    padding: 15px 23px;
    font-size: 16px;
    border-radius: 8px;
    color: #979797;
    width: 86%;
    box-shadow: rgb(136 136 136 / 17%) 0px -23px 25px 0px inset,
      rgb(81 81 81 / 23%) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  
  .input-group2 input:focus {
    border-color: #0173ed;
    outline: none;
  }
  
  .button2 {
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: rgb(35, 166, 227);
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    user-select: none;
    margin-bottom: 2rem;
  }
  
  .button2:hover {
    background-color: #0173ed;
  }
  
.button2:disabled{
  background-color: gray;
}

@keyframes annimform{
  0%{
      scale: 0;
  }
  10%{
      scale: 0.1;
  }
  20%{
      scale: 0.2;
  }
  30%{
    scale: 0.3;
}
40%{
  scale: 0.4;
}
50%{
  scale: 0.5;
}
60%{
  scale: 0.6;
}
70%{
  scale: 0.7;
}
80%{
  scale: 0.8;
}
90%{
  scale: 0.9;
}
100%{
  scale: 1;
}
  }
  